{% extends "organization/about.html" %}

{% block primary_content_inner %}
<h2> {{ c.group_dict['title'] }} </h2>
<p> {{ h.render_markdown(h.benap_field_translated_fallback(c.group_dict['description_translated'])) }} </p>
<br/>
<dl>
{% for f in c.scheming_fields if f.field_name not in ('title','description_translated','name', 'image_url') %}
    <dt>{{ h.scheming_language_text(f.label) }}:</dt>
    {% if f.field_name == 'do_website' %}
        <dd><a href="{{ c.group_dict[f.field_name] or ('&nbsp;'|safe) }}" target="_blank">{{ c.group_dict[f.field_name] or ("&nbsp;"|safe) }}</a></dd>
    {% elif f.field_name == 'do_email' %}
        <dd><a href="mailto:{{ c.group_dict[f.field_name] or ('&nbsp;'|safe) }}">{{ c.group_dict[f.field_name] or ("&nbsp;"|safe) }}</a></dd>
    {% else %}
        <dd>{{ c.group_dict[f.field_name] or ("&nbsp;"|safe) }}</dd>
    {% endif %}
{% endfor %}
</dl>
{% endblock %}

{% block secondary_content %}
  {% snippet 'scheming/snippets/organization.html', organization=c.group_dict, show_nums=true, group_type=c.group_type %}
{% endblock %}