{#- master snippet for all scheming form fields -#}
{#- render the field the user requested, or use a default field -#}
{%- set form_snippet = field.form_snippet|default(
  'repeating_subfields.html' if field.repeating_subfields else 'text.html') -%}

{%- if '/' not in form_snippet -%}
  {%- set form_snippet = 'scheming/form_snippets/' + form_snippet -%}
{%- endif -%}

{%- snippet form_snippet,
  field=field,
  data=data,
  errors=errors,
  licenses=licenses,
  entity_type=entity_type,
  object_type=object_type
-%}
