{% resource 'scheming/scheming-repeating-subfields.js' %}

{% macro repeating_panel(index, index1) %}
  <div class="scheming-subfield-group" data-field="{{ field.field_name }}" data-group-index="{{ index }}">
    <div class="panel panel-primary">
      <header class="panel-heading">
        {{ h.scheming_language_text(field.label) }} {{ index1 }}
      </header>
      <div class="panel-body">
        {% for subfield in field.repeating_subfields %}
          {% set sf = dict(
            subfield,
            field_name=field.field_name ~ '-' ~ index ~ '-' ~ subfield.field_name)
          %}
          {%- snippet 'scheming/snippets/form_field.html',
            field=sf,
            data=flat,
            errors=flaterr,
            licenses=licenses,
            entity_type=entity_type,
            object_type=object_type
          -%}
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}

{#- master snippet for all scheming form fields -#}
{#- render the field the user requested, or use a default field -#}
{%- if field.repeating_subfields %}
  {# A complex field with sub-fields, which can optionally be repeatable. #}
  {% set flat = h.scheming_flatten_subfield(field, data) %}
  {% set flaterr = h.scheming_flatten_errors(field, errors) %}
  <fieldset name="scheming-repeating-subfields" class="scheming-fieldset" data-module="scheming-repeating-subfields">
    {% set group_data = data[field.field_name] %}
    {% set group_count = group_data|length|default(field.form_blanks, True)|default(1) %}

    {% for index in range(group_count) %}
      {{ repeating_panel(index, index + 1) }}
    {% endfor %}
    <a href="javascript:;" name="repeating-remove" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i> {{ _('Remove') }}</a>
    <a href="javascript:;" name="repeating-add" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> {{ _('Add') }}</a>

    {% set help_text = h.scheming_language_text(field.help_text) %}
    {% if help_text %}
      <div class="info-block mrgn-tp-md">
        {{ help_text }}
      </div>
    {% endif %}

    <div name="repeating-template" style="display:none">{{ repeating_panel('REPEATING-INDEX0', 'REPEATING-INDEX1') }}</div>
  </fieldset>
{%- else -%}
  {# A simple field. #}
  {%- set form_snippet = field.form_snippet|default('text.html') -%}

  {%- if '/' not in form_snippet -%}
    {%- set form_snippet = 'scheming/form_snippets/' + form_snippet -%}
  {%- endif -%}

  {%- snippet form_snippet,
    field=field,
    data=data,
    errors=errors,
    licenses=licenses,
    entity_type=entity_type,
    object_type=object_type
  -%}
{%- endif -%}
