{% extends "snippets/organization.html" %}

{% block description %}
      {% if organization['description_translated'] %}
        <p>
          {{ h.markdown_extract(h.benap_field_translated_fallback(organization['description_translated']), 180) }}
          {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
        </p>
      {% else %}
        <p class="empty">{{ _('There is no description for this organization') }}</p>
      {% endif %}
{% endblock %}