dist: trusty
group: deprecated-2017Q4
language: python
sudo: required
python:
- '2.7'
env:
- CKANVERSION=master
- CKANVERSION=2.8
install:
- bash bin/travis-build.bash
services:
- redis-server
- postgresql
script: sh bin/travis-run.sh
before_install:
- pip install codecov
after_success:
- codecov
matrix:
  include:
  - name: Flake8 on Python 2.7
    dist: xenial
    cache: pip
    install: pip install flake8
    script:
    - flake8 --version
    - flake8 . --count --max-complexity=14 --max-line-length=127 --statistics --exclude
      ckan,{{ project }}
    python: 2.7
    env:
    - FLAKE8=true
    - CKANVERSION=master
notifications:
  slack:
    rooms:
      - secure: COh4wTRcy78oxXwNRBnw3bgygQ6VG2wcpD88ldmZsfpPfMIvjDKwvDBZjRyuUOWv4B3JpqUPTt/S22yI6yVX1WNQtneSoiR1XuRnrHa6zKllrYaC4EwlGX4nDPzqxgrV/FMhvS8HmYPKGGdtdS6zVtI0FN5nvQMWEerZVp4erX9prXyu8Gup5Nj3zfCpL4NyQGx4hGPbzA8828a9H5mcbs3Tsma5vJ5QBTonbKbJxD47mqSouykHB9+yZNxDiK64EnRoi/5YlMMIIA0o+5GFuKT7XLUmYe8ZGaV9KA+YFg/1/S1XfUs6os+8co/Xs+6BeGmcV3jm8CciHEmwy2Cewm5uzHxvN1omJZUTtic2OhOEQDpuWgNpN5U80FTMOL1G+co+oJC46bOSotzJ0fQrS/DvC5QbN391lSk7Fp6p4m5obqHDelI49ilkowyBiqujKtP7RW5IaJMSphjjR9hCSalTud4YFAkZKS1RjsMdKaP3uBpHTVrFmBkisf4y6iYpm+1DoH2ViJ7GBfTOgR4fc56L9J2Bd550fkY8ivn5t/vW8xAJmUyrTM+Jewxpq/KXE8rGV+SaVC98yOPfwLPg3Wk0PZNCQHOosTVgcpFik2XtB5nFfl3yvvdZHU1YX4AlSp44zYu6zxinXQ2GnWJBitn7MZM0d577ugGCq0VSg3o=
    on_success: change
    on_failure: always
    on_pull_requests: false
  email:
    on_success: never
    on_failure: never
