factory-boy>=2
mock
soupsieve==1.2  # python2 compat beautifulsoup dep
importlib-metadata==1.6.1  # python2 compat beautifulsoup dep
configparser==3.8.1  # python2 compat beautifulsoup dep
zipp==1.2.0  # python2 compat beautifulsoup dep
beautifulsoup4==4.8.2
pytest==4.6.5
pytest-ckan
pytest-cov==2.7.1
