{% import 'macros/form.html' as form %}

{#
    Creates all the markup required for a polygon input element. Handles matching labels to
        inputs, error messages and other useful elements.

        The required input is a GeoJSON polygon geometry.
        The inpuc can be entered in two ways:

        - pasting the plain text GeoJSON polygon geometry in the text input
        - drawing a polygon on the map
        - TODO enter bounding box coordinates, update polygon from those (if supplied? if some checkbox is ticked?)

        name        - The name of the form parameter.
        id          - The id to use on the input and label. Convention is to prefix with 'field-'.
        label       - The human readable label.
        value       - The value of the input.
        placeholder - Some placeholder text.
        type        - The type of input eg. email, url, date (default: text).
        error       - A list of error strings for the field or just true to highlight the field.
        classes     - An array of classes to apply to the control-group.
        is_required - Boolean of whether this input is requred for the form to validate

        Examples:

        {% import 'scheming/macros/form_spatial.html' as form_spatial %} 
        {{ form_spatial.polygon('spatial', label=_('Dataset extent'), value=data.spatial, error=errors.spatial) }}

#}

{% macro polygon(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], is_required=false) %}
{%- set extra_html = caller() if caller -%}

{% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
  {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=value %}

      <!-- TODO Show all attached GeoJSON resources on map (ajax load). This helps 
       the user to draw a bounding polygon - this captures user's silent 
       knowledge about the real dataset extent. -->




  <!-- Input #{{id or name}} takes a Polygon GeoJSON geometry.
       The map updates this input on finishing a polygon -->
  <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" 
    value="{{ value | empty_and_escape }}" placeholder="{{ placeholder }}" />
  {{ form.info(text="Draw the dataset extent on the map (finish with double-click) or paste GeoJSON geometry", inline=false) }}
{% endcall %}
{% endmacro %}
