{% extends "admin/base.html" %}

{% set entity_types = [('dataset', _('Dataset')), ('group', _('Group')), ('organization', _('Organization'))] %}

{% block subtitle %}{{ _('Scheming') }}{% endblock %}

{% block primary_content_inner %}
  {% snippet 'scheming_dynamic/snippets/tabs.html', active_tab=active_tab %}

  {% if schemas %}
    <table class="table table-header table-hover table-striped">
      <thead>
        <tr>
          <th>{{ _('Entity type') }}</th>
          <th>{{ _('Schema type') }}</th>
          <th>{{ _('Version') }}</th>
          <th>{{ _('Last updated') }}</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for schema in schemas %}
          {% set row_args = {} if schema.entity_type == 'dataset' else {'entity_type': schema.entity_type} %}
          <tr>
            <td>{{ schema.entity_type }}</td>
            <td>{{ schema.schema_type }}</td>
            <td>
              {{ schema.version }}
              {% if schema.is_locked %}
                <i class="fa fa-lock ms-1"
                    aria-label="{{ _('Locked: editing forks a new version') }}"
                    data-bs-title="{{ _('Locked: editing forks a new version') }}"
                    data-bs-toggle="tooltip"></i>
              {% else %}
                <i class="fa fa-lock-open ms-1"
                    aria-label="{{ _('Mutable: editing overwrites this version in place') }}"
                    data-bs-title="{{ _('Mutable: editing overwrites this version in place') }}"
                    data-bs-toggle="tooltip"></i>
              {% endif %}
            </td>
            <td>{{ h.render_datetime(schema.created, with_hours=True) }}</td>
            <td>
              <form method="post" action="{{ h.url_for('scheming_dynamic_admin.delete', schema_type=schema.schema_type, **row_args) }}">
                <div class="btn-group float-end">
                  <a class="btn btn-secondary btn-sm"
                      href="{{ h.url_for('scheming_dynamic_admin.history', schema_type=schema.schema_type, **row_args) }}"
                      aria-label="{{ _('View schema history') }}"
                      data-bs-title="{{ _('View schema history') }}"
                      data-bs-toggle="tooltip">
                    <i class="fa fa-history"></i>
                  </a>
                  <a class="btn btn-secondary btn-sm"
                      href="{{ h.url_for('scheming_dynamic_admin.edit', schema_type=schema.schema_type, **row_args) }}"
                      aria-label="{{ _('Edit schema') }}"
                      data-bs-title="{{ _('Edit schema') }}"
                      data-bs-toggle="tooltip">
                    <i class="fa fa-pencil"></i>
                  </a>
                    {{ h.csrf_input() }}
                    <a type="submit" class="btn btn-danger btn-sm"
                            data-module="confirm-action"
                            data-module-with-data="true"
                            data-module-content="{{ _('Are you sure you want to delete the schema for type {type}?').format(type=schema.schema_type) }}"
                            aria-label="{{ _('Delete schema') }}"
                            data-bs-title="{{ _('Delete schema') }}"
                            data-bs-toggle="tooltip"
                            >
                      <i class="fa fa-times"></i>
                    </a>
                </div>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="empty">{{ _('No dynamic schemas have been created yet.') }}</p>
  {% endif %}

  <div class="form-actions overflow-visible">
    <div class="dropdown btn-group float-end">
      <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownAddSchema" data-bs-toggle="dropdown" aria-expanded="false" href="#">
        <i class="fa fa-plus-square"></i> {{ _('Add schema') }}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAddSchema">
        {% for et, label in entity_types %}
          {% set et_args = {} if et == 'dataset' else {'entity_type': et} %}
          <li>
            <a class="dropdown-item" href="{{ h.url_for('scheming_dynamic_admin.new', **et_args) }}">{{ label }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <div class="module-group">
      <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('Dynamic schemas') }}
      </h2>
      <div class="module-content">
        {%- trans -%}
          <p>Dynamic scheming schemas are stored in the database and become
          available immediately: each schema defines an entity type with its
          own metadata fields.</p>
          <p>Schemas configured through config files are not listed here and
          cannot be edited from this page.</p>
        {%- endtrans -%}
      </div>
    </div>
  </div>
{% endblock %}
