header.panel-heading {
  position: relative;
}

/* try to resemble .btn-remove-url style in resource form */
.btn.btn-danger.btn-repeating-remove {
  position: absolute;
  margin-right: 0;
  top: 9px;
  right: 7px;
  padding: 0 12px;
  border-radius: 100px;
}

li.multiple-text-field {
  position: relative;
  padding-bottom: 6px;
}

li.multiple-text-field input {
  padding-right: 90px;
}

/* try to resemble .btn-remove-url style in resource form */
a.btn.btn-multiple-remove {
  position: absolute;
  margin-right: 0;
  top: 6px;
  right: 7px;
  padding: 0 12px;
  border-radius: 100px;
}

/* remove ":" after form label */
.radio-group label::after {
  content: none;
}

.radio-group label {
  font-weight: normal;
}

fieldset.checkboxes label {
  font-weight: normal;
  display: block;
}
fieldset.checkboxes label:after {
  content: none;
}
fieldset.checkboxes label input {
  width: auto;
  top: 0;
}

.scheming-pages-dynamic-width{
  width: attr(data-width, 100)%;
}