{% import 'macros/form.html' as form %}
{% set date = data.get(field.field_name + '_date') %}
{% set time = data.get(field.field_name + '_time') %}

{% if not date is string and not time is string %}
    {% set date = data.get(field.field_name) %}

    {% if date %}
        {% set parts = data.get(field.field_name).split() %}
        {% set date = parts[0] %}
        {% set time = parts[1] %}
    {% endif %}
{% endif %}
{% call form.input(
    field.field_name + '_date',
    id='field-' + field.field_name +  '-date',
    label= h.scheming_language_text(field.label),
    type='date',
    value=date,
    error=errors[field.field_name + '_date'],
    classes=['control-medium'],
    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
    is_required=h.scheming_field_required(field)
    )
%}
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{% endcall %}

{% call form.input(
    field.field_name + '_time',
    id='field-' + field.field_name + '-time',
    label= h.scheming_language_text(field.get('label_time', 'Time')),
    type='time',
    value=time,
    error=errors[field.field_name + '_time'],
    classes=['control-medium'],
    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
    is_required=h.scheming_field_required(field)
    )
%}
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{% endcall %}
