{# This is specific to datasets' owner_theme field and won't work #}
{# if used with other fields #}


{% macro group_option_tag(group, selected_group) %}
  {% block group_option scoped %}
    <option value="{{ group.id }}"{%
      if selected_group %} selected="selected"{% endif
      %}>{{ group.display_name }}</option>
  {% endblock %}
{% endmacro %}

  <div data-module="dataset-visibility">
  {% snippet "scheming/form_snippets/_group_select.html",
    field=field,
    data=data,
    errors=errors,
    groups_available=h.groups_available('create_dataset'),
    group_required=not h.check_config_permission('create_unowned_dataset')
      or h.scheming_field_required(field),
    group_option_tag=group_option_tag %}

    {% block package_metadata_fields_visibility %}
    <div class="control-group form-group control-medium">
      <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
      <div class="controls">
        <select id="field-private" name="private" class="form-control">
          {% for option in [('True', _('Private')), ('False', _('Public'))] %}
          <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endblock %}

  </div>
