{% import 'macros/form.html' as form %}

{% call form.markdown(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    placeholder=h.scheming_language_text(field.form_placeholder),
    value=data[field.field_name],
    error=errors[field.field_name],
    attrs=field.form_attrs or {},
    is_required=h.scheming_field_required(field)
    ) 
%}
    {% if field.help_text %}
        {{ form.info(text=field.help_text, inline=true) }}
    {% endif %}
{% endcall %}
