{% import 'macros/form.html' as form %}

<style>
fieldset.checkboxes label {
    font-weight: normal;
    display: block;
}
fieldset.checkboxes label:after {
    content: none;
}
fieldset.checkboxes label input {
    width: auto;
    top: 0;
}
</style>

{%- call form.input_block(
    label=h.scheming_language_text(field.label),
    classes=['control-medium'],
    error=errors[field.field_name],
    is_required=h.scheming_field_required(field)) -%}
  {%- set localized_choices = {} -%}
  {%- for choice in field.choices -%}
    {%- do localized_choices.update(
        {choice.value:h.scheming_language_text(choice.label)}) -%}
  {%- endfor -%}
  {%- if 'sorted_choices' in field -%}
    {%- set localized_choices = localized_choices|dictsort(false, 'value') -%}
  {%- else -%}
    {%- set localized_choices = localized_choices.iteritems() %}
  {%- endif -%}
    <fieldset class="checkboxes">
        {%- for c, v in localized_choices -%}
            <label for="field-{{ field.field_name }}-{{ c }}">
                <input id="field-{{ field.field_name }}-{{ c }}"
                    type="checkbox"
                    name="{{ field.field_name }}"
                    value="{{ c }}"
                    {{"checked " if c in data[field.field_name] }} />
                {{ v }}
            </label>
        {%- endfor -%}
    </fieldset>
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{%- endcall -%}

