{#
An input widget for polygons, such as the ckanext-spatial "spatial" field for 
the dataset extent.

This widget retains the plain text input which accepts a valid GeoJSON
geometry, and also adds a map on which one can simply draw the dataset extent.

Providing alternative map input has two motivations:
- Drawing is achievable, pasting a valid GeoJSON geometry will post a challenge
to many non-GIS-trained users
- Users will have additional, silent expert knowledge on the real extent
of their dataset.

This form snippet depends on a custom branch of ckanext-spatial, which
provides (and is the appropriate home for) the JavaScript functions to 
provide an editable map.

#}

{% import 'macros/form.html' as form %}
{% with 
    name=field.field_name, 
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    placeholder=h.scheming_language_text(field.form_placeholder),
    value=data[field.field_name],
    error=errors[field.field_name],
    classes=['control-medium'],
    is_required=h.scheming_field_required(field)
%}

  {% call form.input_block(id, label, error, classes, is_required=is_required) %}
  
    {% set map_config = h.get_common_map_config() %}
    <div class="dataset-map" 
        data-module="spatial-form"
        data-input_id="{{ id }}"
        data-extent="{{ value }}" 
        data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}" 
        data-module-map_config="{{ h.dump_json(map_config) }}">
      <div id="dataset-map-container"></div>
    </div>
    <p></p><!-- a little trailing space -->
    {% resource 'ckanext-spatial/spatial_form' %}
    
    <!-- choose predefined, on change update input {{ id }} -->
    <script type="text/javascript">
    /* Set the value of textarea #{{ id }} to the value of select menu #select-{{ id }} 
     * IDs are hard-coded, as this script lives at the same level as the IDs are defined 
     */
    function updateInput(){
        $("#{{ id }}").val($("#select-{{ id }}").val());
    }
    </script>
    <select id="select-{{ id }}" onchange="updateInput()">
        <option value="">-- Select pre-defined extent --</option>
      {% for c in field.choices %}
        <option value="{{ c.value | replace("u'","\"") | replace("'","\"") | empty_and_escape }}">{{ c.label }}</option>
      {% endfor %}
    </select>
    <!-- TODO this should be an autocompleting select box like tags,
         polling from a user-defined custom vocabulary of label/geojson pairs,
         defined in the dataset schema as e.g. field.vocabulary.
         Also, this snippet should be moved into ckanext-spatial's form_spatial.js so the data binding JS
         is in one place.
         NOTE The value expects "real strings", not u'nonsense'. For demonstration purposes,
         let's sanitize the JSON here, so valid JSON goes into the dataset schema and we won't need
         to touch unicode/string handling in the pylons parts, which could cause more headache than it prevents.
    -->
    <!-- /choose predefined -->

    <!-- TODO Show all attached GeoJSON resources on map (ajax load). This helps 
         the user to draw a bounding polygon around existing spatial features, but also 
         captures user's silent knowledge about the real dataset extent. -->

    {{ form.info(text="Draw and edit the dataset extent as rectangles and/or polygons on the map, 
       or select a pre-defined area from the menu,
       or paste a GeoJSON Polygon or Multipolygon geometry below", inline=false) }}

    <!-- Textarea #{{ id }} accepts a Polygon GeoJSON geometry.
         The map updates this input on drawing/editing/deleting shapes,
         the select menu updates this input on selecting options.
    -->
    <textarea id="{{ id }}" type="{{ type }}" name="{{ name }}" 
        placeholder="{{ placeholder }}" rows=10 style="width:100%;"
    >{{ value | empty_and_escape }}</textarea>

  {% endcall %}
{% endwith %}
