{% import 'macros/form.html' as form %}

{%- set options =[{"text": "","value":""}]  %}
{% set current_year = h.get_date().year %}
{% for i in range(current_year, 1980, -1) %}
  {% do options.append({"text": i|string, "value":i|string}) %}
{% endfor %}
{% call form.select(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    options=options,
    selected=data.get(field.field_name, current_year|string),
    error=errors[field.field_name],
    classes=['control-medium'],
    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
    is_required=h.scheming_field_required(field)
    )
%}
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{% endcall %}
