{% extends "package/read.html" %}

{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
{% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}


{% block package_notes %}

  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {% if h.scheming_field_by_name(schema.dataset_fields, 'notes') and
    pkg.notes%}
    <div class="notes embedded-content">
      {{ h.render_markdown(pkg.notes, allow_html=True) }}
    </div>
  {% endif %}


{% endblock %}


{% block package_additional_info %}
  {% snippet "scheming/package/snippets/additional_info.html",
    pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
{% endblock %}


{% snippet "spatial/snippets/dataset_map.html", extent=dataset_extent %}
