{% extends "package/read.html" %}

{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block package_notes %}
    <p>
        {{ h.render_markdown(h.scheming_language_text(pkg['notes_translated']) or
        h.benap_scheming_language_text_fallback(pkg['notes_translated'], pkg['language'])) }}
    </p>
  {%- if not dataset_type -%}
    <p>
    {{ _('dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming') }}
    </p>
  {%- endif -%}
  {% if h.scheming_field_by_name(schema.dataset_fields, 'notes') and
    pkg.notes%}
    <div class="notes embedded-content">
      {{ h.render_markdown(pkg.notes) }}
    </div>
  {% endif %}
{% endblock %}

{% block package_additional_info %}
  {% snippet "scheming/package/snippets/additional_info.html",
    pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
{% endblock %}

{% block package_tags %}
    {% if pkg.tags %}
        <section class="tags">
            <h3>{{ _('Transportation modes covered') }}</h3>
                {% snippet 'snippets/tag_list.html', tags=pkg.tags, _class='tag-list well' %}
        </section>
    {% endif %}
{% endblock %}