<table class="table table-striped">
  <thead>
    <tr>
    {% for subfield in field.subfields %}
      {% if subfield.display_snippet %}
      <th nowrap>{{ h.scheming_language_text(subfield.label) }}</th>
      {% endif %}
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for group in data %}
    <tr>
      {% for subfield in field.subfields %}
        {% set options = subfield.display_snippet_options|default({}) %}
        {% if group[subfield.field_name] %}
        {% if options.row_header %}<th scope="row">{% else %}<td>{% endif %}
          {%- snippet 'scheming/snippets/display_field.html', field=subfield,
            data=group,
            errors=errors,
            entity_type=entity_type,
            object_type=object_type
          -%}
        {% if options.row_header %}</th>{% else %}</td>{% endif %}
        {% else %}
        <td></td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
