{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
	'id',
	'title',
	'notes',
	'tag_string',
	'contact_class',
	'license_id',
	'owner_org',
	'temporal_start',
	'temporal_end',
	'spatial'	
	] -%}

{% block package_additional_info %}
{%- for field in schema.dataset_fields -%}
	{%- if field.field_name not in exclude_fields and field.display_snippet is not none and not field.exclude_from_additional_info and not field.span_over_columns -%}
		{%- if field.display_snippet == 'metric_blocks.html' -%}
		{%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
		{%- else -%}
		<tr>
			<th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
			<td class="dataset-details" {% if field.display_property %} property="{{ field.display_property }}" {% endif %}>
				{%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
			</td>
		</tr>
		{%- endif -%}
	{%- elif field.span_over_columns -%}
		
		<tr>
			<td colspan="2">
			<ul class="tag-list">
				<p><b>{{ field.label }}</b></p>
				{%- if pkg_dict[field.field_name] -%}
				{%- for link in h.get_link_list_mixed_sources(pkg_dict[field.field_name]) -%}
				<li>{{ h.link_to(link.name, link.link, class="tag") }}</li>
				{%- endfor -%}
				{%- endif -%}
			</ul>
			</td>
		</tr>
		
	{%- elif 'temporal_start' in field.field_name -%}
		<tr>
			<th scope="row" class="dataset-label">Temporal Coverage</th>
			<td class="dataset-details">
				{%- if pkg_dict.temporal_start and pkg_dict.temporal_end -%}
				{{ h.render_datetime(pkg_dict.temporal_start, date_format='%Y-%m-%d', with_hours=False) }} to {{
				h.render_datetime(pkg_dict.temporal_end, date_format='%Y-%m-%d', with_hours=False) }}
				{%- endif -%}
			</td>
		</tr>
	{%- endif -%}
{%- endfor -%}

{% if pkg_dict.metadata_modified %}
<tr>
	<th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
	<td class="dataset-details">
		{% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
	</td>
</tr>
{% endif %}

{% if pkg_dict.metadata_created %}
<tr>
	<th scope="row" class="dataset-label">{{ _("Created") }}</th>

	<td class="dataset-details">
		{% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
	</td>
</tr>
{% endif %}

{% if h.check_access('package_update',{'id':pkg_dict.id}) %}
<tr>
	<th scope="row" class="dataset-label">{{ _("State") }}</th>
	<td class="dataset-details">{{ _(pkg_dict.state) }}</td>
</tr>
{% endif %}
{% endblock %}