<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    'licence_agreement'
] -%}

{% block package_additional_info %}

  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields and field.display_snippet is not none -%}
      {% if field.field_name == 'spatial' %}
          <tr>
            <th scope="row" class="dataset-label" property="rdfs:label">{{ h.scheming_language_text(field.label) }}</th>
     
            <td class="dataset-details" {% if field.display_property %} 
            property="{{ field.display_property}}"
          {% endif %}>
            <p id="para" class="myClass"> {%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict -%}<div id="clickMe" class="clickMe">+</div></p></td>

        </td>
          </tr>
      {% else %}
            <tr>
        <th scope="row" class="dataset-label">
          {% if field.display_email_name_field %}
            {{ h.scheming_language_text(field.display_email_name_field)|title }}
          {% else %}
            {{ h.scheming_language_text(field.label) }}
          {% endif %}
        </th>
        <td class="dataset-details"
          {% if field.display_property %} 
            property="{{ field.display_property}}"
          {% endif %}>
            {%- snippet 'scheming/snippets/display_field.html',
                field=field, data=pkg_dict -%}
        </td>
      </tr>
      {%- endif -%}
       {%- endif -%}
        
    
  {%- endfor -%}
  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}
  


  
        {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}
          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
            <td class="dataset-details" property="rdf:value">{{ value }}</td>
          </tr>
        {% endfor %}
      {% endblock %}

  
{% endblock %}


