{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org'
] -%}

{% block package_additional_info %}

  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields and not field.hide_field -%}
      <tr>
        <th scope="row" class="dataset-label">
          {% if field.display_email_name_field %}
            {{ h.scheming_language_text(field.display_email_name_field)|title }}
          {% else %}
            {{ h.scheming_language_text(field.label) }}
          {% endif %}
        </th>
        <td class="dataset-details"
          {% if field.display_property %} 
            property="{{ field.display_property}}"
          {% endif %}>
            {%- snippet 'scheming/snippets/display_field.html',
                field=field, data=pkg_dict -%}
        </td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}
{% endblock %}
