<!-- <p>
  <a href="/dataset/{{pkg.name}}/resource/new?resource_type={{res.resource_type}}">
    {{res.name}}
  </a>
</p> -->

{% if can_edit %}
<li class="resource-item missing-resource">
  {% block resource_item_title %}
  <a class="heading"
     href="/dataset/new_resource/{{pkg.name}}?resource_type={{res.resource_type}}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }}
    <span class="description"> ({{_('Missing resource')}})</span>
    <span class="format-label">{{_('Missing resource')}}</span>
  </a>
  {% endblock %}

  {% block resource_item_description %}
    <p class="description">
      {% if res.about %}
        {{ h.markdown_extract(h.get_translated(res, 'about'), extract_length=80) }}
      {% endif %}
    </p>
  {% endblock %}

  {% block resource_item_explore %}
    {% set validator_schema = res.resource_fields | selectattr('field_name', 'equalto', 'schema') | map(attribute='field_value') | list %}
    {% if not url_is_edit %}
      {% if validator_schema[0] is defined %}
        <div class="dropdown btn-group">
          <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-share"></i>
            {{ _('Add Data') }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/dataset/new_resource/{{pkg.name}}?resource_type={{res.resource_type}}">
                  <i class="fa fa-share"></i>
                  {{ _('Upload Resource') }}
              </a>
            </li>
            <li>
              <a href="/validation/template/{{validator_schema[0]}}">
                  <i class="fa fa-arrow-circle-o-down"></i>
                  {{ _('Download Data Template') }}
              </a>
            </li>
          </ul>
        </div>
      {% else %}
        <div class="dropdown btn-group">
          <a href="/dataset/new_resource/{{pkg.name}}?resource_type={{res.resource_type}}"
             class="btn btn-primary">
            <i class="fa fa-share"></i>
            {{ _('Add Data') }}
          </a>
        </div>
      {% endif %}
    {% endif %}
  {% endblock %}
{% endif %}
