{#
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}

{% set core_resources = h.get_core_resources(pkg) %}
{% set can_edit = h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
<section id="dataset-resources" class="resources core-resources">
  <h3>{{ _('Core Resources') }}</h3>  
  {% if core_resources %}
    <ul class="resource-list">
      {% for resource in core_resources %}
        {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit, is_activity_archive=is_activity_archive %}
      {% endfor %}
    </ul>
  {% else %}
    <p class="empty">{{ _('This dataset has no core resources') }}</p>
  {% endif %}
</section>

{% block other_resources_list %}
{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% if can_edit %}
  {% set missing = h.get_missing_resources(pkg, schema) %}
  {% if missing %}
  <section id="dataset-resources" class="resources missing-resources">
    <h3>{{ _('Missing Resources') }}</h3>
    <ul class="{% block missing_resource_list_class %}resource-list{% endblock %}">
      {% for resource in missing %}
        {% snippet 'scheming/package/snippets/missing_resource_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
      {% endfor %}
    </ul>
  </section>
  {% endif %}
{% endif %}
{% endblock %}

{% set extra_resources = h.get_extra_resources(pkg) %}
{% if extra_resources %}
<section id="dataset-resources" class="resources extra-resources">
  <h3>{{ _('Extra Resources') }}</h3>
  <ul class="resource-list">
    {% for resource in extra_resources %}
      {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit, is_activity_archive=is_activity_archive %}
    {% endfor %}
  </ul>
</section>
{% endif %}
